@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 8vh;
    background-color: #2374c5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto Condensed', sans-serif;
    border-bottom: 1px solid transparent;
}

.logo {
    margin-left: 5%;
}

.logo h1 {
    color: #fff;
    font-family: serif;
    letter-spacing: -2px;
}
.logo span {
    color: rgba(255, 255, 255, 0.6);
    margin-left: 5px;
    letter-spacing: 0;
}
.logo span:not(:first-child){
    font-size: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.btn-mobile {
    display: none;
    cursor: pointer;
}

.navigation {
    width: 60%;
    margin-right: 5%;
}

.navigation-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}
.navigation a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.4s all;
}
.navigation a:hover {
    color: rgba(255, 255, 255, 0.6);
}

main {
    margin-top: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 160px;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 50px;
}

aside {
    margin-top: 80px;
    width: 240px;
    background-color: #394362;
}

img {
    width: 320px;
    height: 320px;
    position: relative;
    top: 25%;
    right: 35%;
}

.content {
    text-align: left;
    width: 480px;
    padding: 0px 20px;
    color:#314163;
}

.box-back {
    margin: 30px 0;
}

.box-back span {
    font-size: 1rem;
    cursor: pointer;
}

.box-title h1 {
    font-weight: 400;
    font-size: 2.2rem;
}

.box-about {
    display: flex;
    flex-direction: column;
}

.box-about h3 {
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 5px;
}
.box-about p {
    font-family: 'PT Serif', serif;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.job-name {
    margin: 15px 0px 15px 0px;
}

.job-name h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.8rem;
}

.box-form {
    padding: 10px;
    background-color: #cdebfd;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

form {
    border: 1px solid black;
    padding: 0 8px;
}

.form-title {
    margin: 10px 0;
}
.form-title h2 {
    font-weight: 400;
    font-size: 1.4rem;
}

form label {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 5px;
}
form input {
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    border-radius: 5px;
    outline: none;
    color: #314163;
    font-size: 15px;
    background-color: transparent;
    padding-left: 5px;
}

.form-district, .form-city {
    display: flex;
    gap: 12px;
}

.box-curriculum {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.box-curriculum div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.box-curriculum button {
    width: 140px;
    height: 35px;
    background-color: #4a85af;
    border: 0;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}
.box-curriculum p {
    width: 180px;
    font-size: 0.8rem;
}

.btn-send {
    width: 140px;
    height: 35px;
    margin: 15px 0;
    background-color: #314163;
    border: 0;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2374c5;
}

.copyright {
    margin-right: 15%;
}
.copyright span {
    font-family: 'Oswald', sans-serif;
    font-size: 11px;
    color: #fff;
}

@media(max-width: 950px) {
    .navigation {
        display: flex;
        justify-content: flex-end;
        margin-right: 0;
    }
    .navigation-list {
        align-items: flex-start;
        flex-direction: column;
        position: fixed;
        z-index: 999;
        width: 0;
        height: calc(100vh - 8vh);
        top: 8vh;
        right: 0;
        background: #2374c5;
        transition: 1s all;
        visibility: hidden;
        overflow: hidden;
    }
    .navigation-list li {
        width: 100%;
        padding-left: 40px;
    }
    .btn-mobile {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-right: 5%;
    }
    .line-1, .line-2, .line-3 {
        width: 23px;
        height: 2px;
        background-color: #fff;
        transition: .3s all;
        position: relative;
    }
    .active-nav .line-1{
        transform: rotate(135deg);
    }
    .active-nav .line-2 {
        display: none;
    }
    .active-nav .line-3 {
        transform: rotate(-135deg);
        top: -7px;
    }
    .active-nav .navigation-list {
        width: 100%;
        visibility: visible;
    }
    .active-nav a {
        font-size: 1.2rem;
    }
    .active-header {
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    }
    
    aside {
        display: none;
    }
}
